.promo {
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
}
.promo .field-promotext {
    padding: 10px 0;
}
.promo .promo-title {
    margin-bottom: 10px;
}
.promo .promo-title a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.promo .promo-text {
    padding: 10px;
}
.promo .promo-link {
    margin-top: 5px;
    padding-bottom: 10px;
}
.promo.image-left .promo-icon {
    float: left;
}
.promo.image-left .promo-icon img {
    margin: 0 10px 5px 0;
}
.promo.image-right .promo-icon {
    float: right;
}
.promo.image-right .promo-icon img {
    margin: 0 10px 0 5px;
}
.promo.image-full-size img {
    margin-bottom: 10px;
    width: 100%;
}
.promo.absolute-bottom-link {
    position: relative;
}
.promo.absolute-bottom-link .promo-link {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
.promo.pricing-promo {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease-in 0s;
}
.promo.pricing-promo:hover {
    background: #f8f8f8 none repeat scroll 0 0;
}
.promo.pricing-promo .promo-icon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d2d2d2 #d2d2d2 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
.promo.pricing-promo .promo-text {
    box-shadow: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.promo.pricing-promo .promo-text .promo-title {
    background: #f8f8f8 none repeat scroll 0 0;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.promo.pricing-promo .promo-text .promo-body {
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.promo.pricing-promo .promo-text .promo-body [class^="field-"] {
    border-bottom: 1px solid #d2d2d2;
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
}
.promo.pricing-promo .promo-text .promo-body .field-pricingprice {
    background: #f8f8f8 none repeat scroll 0 0;
    color: #a0ce4e;
    font-size: 3.2rem;
    font-weight: bold;
}
.promo.pricing-promo .promo-text .promo-body .field-pricingprice span {
    color: #222;
    font-size: 1.6rem;
    font-weight: normal;
}
.promo.promo-hero {
    position: relative;
    text-align: center;
}
.promo.promo-hero.promo-hero-half {
    float: left;
    width: 50%;
}
@media only screen and (max-width: 959px) {
.promo.promo-hero.promo-hero-half {
    float: none;
    width: 100%;
}
}
.promo.promo-hero .field-promotext {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    left: 50%;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}
.promo.promo-hero .field-promotext > a {
    color: inherit;
    text-decoration: none;
}
@media only screen and (max-width: 380px) {
.promo.promo-hero .field-promotext {
    position: static;
    transform: translate(0%, 0%);
}
}
@media only screen and (max-width: 959px) {
.promo.promo-hero .field-promotext {
    margin: 0;
    width: 100%;
}
.promo.promo-hero .field-promotext h1 {
    font-size: 2.4rem;
}
.promo.promo-hero .field-promotext h2, .promo.promo-hero .field-promotext h3, .promo.promo-hero .field-promotext h4 {
    font-size: 2rem;
}
}
@media only screen and (max-width: 959px) {
.promo.promo-hero.borderless-promo .field-promoicon {
    background-size: contain !important;
}
}
.promo.borderless-promo {
    border: medium none;
}
.promo.borderless-promo a {
    font-weight: normal;
    text-decoration: none;
}
.promo.promoted-box {
    border: medium none;
}
@media only screen and (min-width: 769px) {
.promo.benefits-promo {
    border: medium none;
    margin-bottom: 20px;
    overflow: visible;
    position: relative;
}
.boxed .row.omega > .row > .grid-2 > .promo.benefits-promo {
    margin-bottom: 0;
}
.promo.benefits-promo .component-content {
    text-align: center;
}
.promo.benefits-promo .component-content .field-promoicon {
    border: 1px solid #d2d2d2;
}
.promo.benefits-promo .component-content .field-promotext {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #d2d2d2 #d2d2d2;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-sizing: border-box;
    left: 0;
    max-width: 100%;
    padding: 10px 5px;
    position: absolute;
    top: 99%;
    z-index: 2;
}
}
@media only screen and (max-width: 786px) {
.promo.benefits-promo {
    margin-bottom: 20px;
}
.promo.benefits-promo .component-content {
    text-align: center;
}
}

.promoted-box {
    margin: 0 auto;
    max-width: 960px;
}
.promoted-box > .component-content {
    background: #fff none repeat scroll 0 0;
    border-color: #a0ce4e #e8e6e6 #e8e6e6;
    border-style: solid;
    border-width: 3px 1px 1px;
    box-sizing: border-box;
    margin: 0 0 30px;
    padding: 25px;
    position: relative;
}
@media only screen and (max-width: 959px) {
.promoted-box > .component-content {
    margin: 0 10px 30px;
}
}
.promoted-box > .component-content::before {
    bottom: 15px;
    box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
    content: "";
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 460px;
    opacity: 0.7;
    position: absolute;
    transform: rotate(-3deg);
    width: 60%;
    z-index: -1;
}
.promoted-box > .component-content::after {
    bottom: 15px;
    box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
    content: "";
    height: 20%;
    left: auto;
    max-height: 100px;
    max-width: 460px;
    opacity: 0.7;
    position: absolute;
    right: 10px;
    transform: rotate(3deg);
    width: 60%;
    z-index: -1;
}
.highlighted-top {
    background: #f6f6f6 none repeat scroll 0 0;
    border-style: solid;
    border-top: 3px solid #a0ce4e;
    box-sizing: border-box;
    margin: 0 0 30px 0;
    padding: 25px;
}
.highlighted-top h1, .highlighted-top h2, .highlighted-top h3, .highlighted-top h4 {
    margin: 10px 0 10px;
}
.highlighted-right {
    background: #f6f6f6 none repeat scroll 0 0;
    border-right: 3px solid #a0ce4e;
    border-style: solid;
    box-sizing: border-box;
    margin: 0;
    padding: 25px;
}
.highlighted-right h1, .highlighted-right h2, .highlighted-right h3, .highlighted-right h4 {
    margin: 0 0 10px;
}
.highlighted-left {
    background: #f6f6f6 none repeat scroll 0 0;
    border-left: 3px solid #a0ce4e;
    border-style: solid;
    box-sizing: border-box;
    margin: 0;
    padding: 25px;
}
.highlighted-left h1, .highlighted-left h2, .highlighted-left h3, .highlighted-left h4 {
    margin: 0 0 10px;
}
.highlighted-bottom {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #a0ce4e;
    border-style: solid;
    box-sizing: border-box;
    margin: 0;
    padding: 25px;
}
.highlighted-bottom h1, .highlighted-bottom h2, .highlighted-bottom h3, .highlighted-bottom h4 {
    margin: 0 0 10px;
}


.justify-image {
    text-align: justify;
    margin: 20px 20px;
}

.justify-image img {
    display: inline-block;
}

.justify-image:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}

.field-promo {
    background:linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5)
    ), 
    url(../images/labs-banner.jpg);
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
    margin-top: 70px;
}

.field-promo > h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 1px 1px 1px black;
    transform: translate(-50%, -50%);
}

.field-promo > span {
    font-family: ProximaNova-Semibold, arial, helvetica, sans-serif;
}

.social {
    color:#edebeb;
    margin: 10px;
}

.cog-green {
    color: #a0ce4e;
}

.container-content {
    font-size:  1.6rem;
    color: #747474;
    padding: 5px;
}

.button-more {
    background: #a0ce4e none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.6rem;
    padding: 5px 10px;
    vertical-align: middle;
	margin-bottom: 20px;
}
.button-more a::after {
    color: #fff;
    content: "";
    font-family: "FontAwesome",sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    padding-left: 8px;
}

.button-more a {
    color: #fff;
	text-decoration: none;
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-weight: bold;
}

h4 {
    margin-top: 25px;
	margin-bottom: 15px;
}

#footer a.twitter-icon:hover {
    color: #2ca8d2;
	text-decoration:none;
}
#footer a.linkedin-icon:hover {
    color: #4498c8;
	text-decoration:none;
}
#footer a.google-icon:hover {
    color: #ce4d39;
	text-decoration:none;
}
#footer a.github-icon:hover {
   text-decoration:none;
}

.top-container {
   margin-top: 20px;
   margin-bottom: 30px
}

